<?xml version="1.0" encoding="UTF-8"?>
<configuration status="INFO">
    <appenders>
    <Console name="Console" target="SYSTEM_OUT">
        <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    </Console>
<!--        <File name="file-info" fileName="logs/info.log">-->
<!--            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>-->
<!--            <LevelRangeFilter maxLevel="INFO" minLevel="INFO"/>-->
<!--        </File>-->
<!--        <File name="file-warn" fileName="logs/warn.log">-->
<!--            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>-->
<!--            <LevelRangeFilter maxLevel="WARN" minLevel="WARN"/>-->
<!--        </File>-->
<!--        <File name="file-error" fileName="logs/error.log">-->
<!--            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>-->
<!--            <LevelRangeFilter maxLevel="ERROR"/>-->
<!--        </File>-->
    </appenders>
    <loggers>
        <root level="INFO">
            <appender-ref ref="Console"/>
<!--            <appender-ref ref="file-warn"/>-->
<!--            <appender-ref ref="file-error"/>-->
        </root>
    </loggers>
</configuration>